game-board {
  $boxHeight: 20vh;
  $lineThickness: 4px;
  .row {
    height: $boxHeight;
  }

  .linedRow {
    border-bottom: $lineThickness solid black;
  }

  .linedColumn {
    border-right: $lineThickness solid black;
  }

  .markStyle {
    font-size: 10vw;
    text-align: center;
    vertical-align: middle;
    margin: 0;
  }

}
