<ion-grid>
  <ion-row class="linedRow">
    <ion-col class="linedColumn" (click)="playerAction('UL')">
      <div *ngIf="boardState.UL === 0"><p class="markStyle">O</p></div>
      <div *ngIf="boardState.UL === 1"><p class="markStyle">X</p></div>
    </ion-col>
    <ion-col class="linedColumn" (click)="playerAction('UM')">
      <div *ngIf="boardState.UM === 0"><p class="markStyle">O</p></div>
      <div *ngIf="boardState.UM === 1"><p class="markStyle">X</p></div>
    </ion-col>
    <ion-col  (click)="playerAction('UR')">
      <div *ngIf="boardState.UR === 0"><p class="markStyle">O</p></div>
      <div *ngIf="boardState.UR === 1"><p class="markStyle">X</p></div>
    </ion-col>
  </ion-row>
  <ion-row class="linedRow">
    <ion-col class="linedColumn" (click)="playerAction('ML')">
      <div *ngIf="boardState.ML === 0"><p class="markStyle">O</p></div>
      <div *ngIf="boardState.ML === 1"><p class="markStyle">X</p></div>
    </ion-col>
    <ion-col class="linedColumn" (click)="playerAction('MM')">
      <div *ngIf="boardState.MM === 0"><p class="markStyle">O</p></div>
      <div *ngIf="boardState.MM === 1"><p class="markStyle">X</p></div>
    </ion-col>
    <ion-col  (click)="playerAction('MR')">
      <div *ngIf="boardState.MR === 0"><p class="markStyle">O</p></div>
      <div *ngIf="boardState.MR === 1"><p class="markStyle">X</p></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="linedColumn" (click)="playerAction('LL')">
      <div *ngIf="boardState.LL === 0"><p class="markStyle">O</p></div>
      <div *ngIf="boardState.LL === 1"><p class="markStyle">X</p></div>
    </ion-col>
    <ion-col class="linedColumn"  (click)="playerAction('LM')">
      <div *ngIf="boardState.LM === 0"><p class="markStyle">O</p></div>
      <div *ngIf="boardState.LM === 1"><p class="markStyle">X</p></div>
    </ion-col>
    <ion-col (click)="playerAction('LR')">
      <div *ngIf="boardState.LR === 0"><p class="markStyle">O</p></div>
      <div *ngIf="boardState.LR === 1"><p class="markStyle">X</p></div>
    </ion-col>
  </ion-row>
</ion-grid>
